.passcontainer{
display: flex;
flex-direction: column;
place-items: center;
}

.password-title{
font-size: 4rem;
margin-bottom: 16px;
background: linear-gradient(90deg,#1691ad,#1c65be,#969fff);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
border-bottom: solid 1px #8b5cf6;
}

.passwordgen{
font-size:16px;
color: #fff;
letter-spacing: 4px;
}

.passwordbtn{
display: inline-block;
padding: 10px;
font-size: 18px;
color: #fff;
background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
border: none;
border-radius: 4px;
cursor: pointer;
background-size: 200% auto;
transition: 0.5s;
}

@media(max-width:768px){
.password-title{
font-size: 32px;
}
}
      